parameters:
    level: 4
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Function .* not found#'
        - '#Call to an undefined static method Kode\\Message\\Message::#'
        - '#Unsafe usage of new static\(\)#'
        - '#Property .* is never read, only written#'
        - '#Variable \$contentType on left side of \?\? always exists#'
        - '#should return float but returns string#'
        - '#Method Kode\\Crypto\\Crypto::getInstance\(\) should return static\(Kode\\Crypto\\Crypto\) but returns Kode\\Crypto\\Crypto#'
        - '#Strict comparison using === between string and false will always evaluate to false#'
